[Config]
WEBHOOK_URL = 
TIMEZONE_OFFSET = +1
ONLY_SHOW_WORKERS = 'atv01','atv02','samsung1'
EXCLUDE_MONS = 1,4,7
LANGUAGE = en
# en/de

OS = android
# android/ios

[DB]
HOST = 0.0.0.0
USER = 
PASSWORD = 
DB_NAME = 
PORT = 3306
